.heading {
    width: 80%;
    font-size: 22px;
}
body {
    background-color: #d9f1f1;
}
.name_of_objects {
    font-size: medium;
}
#camera, #result {
    border: 2px solid;
    padding: 10px;
    width: 400px !important;
    height: 300px !important;
}